.landing-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 20px;
  background: #f7f8f9;
}

.landing-page h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.landing-page p {
  color: #6c757d;
  line-height: 1.5;
  margin-bottom: 25px;
}

.create-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #6c25ff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 12px;
}

.login-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #cebafb;
  color: black;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}